<div id="mm">
	<div id="mm-loading-spinner">
    	{{loading-spinner}}
  	</div>

	<div id="mm-movies">
		<select id="mm-sort">
			<option value="top">Top Movies</option>
  			<option value="popular">Popular Movies</option>
		</select>

		<h2 id="mm-header"></h2>

		{{#each movies key="@index" as |movie|}}
  			{{#link-to 'movie' movie.id class="mm-movie-link"}}<img src="https://image.tmdb.org/t/p/w500/{{movie.moviePoster}}" class="mm-movie-poster transitions">{{/link-to}}
		{{/each}}
	</div>
</div>