<div id="mp">
	<h2 id="mp-header">{{model.movie.title}}</h2>

	<div id="mp-trailer">
		<iframe class="ytb-vid" src="https://www.youtube.com/embed/{{model.trailer.youtubeKey}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>